{% extends 'myapp/base.html' %} {% block content %}
<div class="container py-5">
    <div class="card bg-gradient bg-light">
        <div class="card-body">
            <h2 class="my-3 text-center text-light bg-primary">Ashvitha <br>Bus Reservation System</h2>
        </div>
    </div>
</div>
<div class="hero-container" id="hero-sec">
    <div class="container-fluid ">
    <div class="row d-flex">
      <div class="col align-middle">
        <div class="px-2 py-2">
        <img src="https://img.freepik.com/free-vector/appointment-booking-mobile-concept_23-2148570788.jpg?w=740" class="img-fluid" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="px-5 py-5 mt-5">
          <div class="px-2 py-2 align-middle">
          <h1>Why our Buses your need??</h1>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, culpa. Obcaecati eaque necessitatibus error quos accusamus atque iure ab magni. Iusto libero aperiam vel quidem, ut corporis repudiandae cumque debitis?</p>
          </div>
          <div class="px-2 py-2">
            <button type="button" class="btn btn-outline-primary">Checkout Our Bus</button>
          </div>
        </div>
      </div>
  </div>
  </div>
{% endblock %}